
:root {
  /* Color */
  --color-accent: #F4623A;
  --color-dark: #212529;
  --color-white: #fff;
  --color-gray: #D2D0CE;
  --color-dark-gray: #6C757D;
  --color-light-gray: #f6f7f5;

  /* Font size */
  --font-large: 48px;
  --font-medium: 32px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}


/* Global */
.container {
  width: 1200px;
  margin: 0 auto;
}

.wrap {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--color-dark);
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
}

h3 {
  font-size: 24px;
  font-weight: var(--weight-semi-bold);
}

hr {
  width: 10%;
  height: 3px;
  border: 0;
  background: #F4623A;
  margin: 10px auto;
  opacity: 1;
}

p {
  color: var(--color-gray);
  font-size: var(--font-regular);
}

li {
  list-style: none;
}


/* Navbar */
.navbar {
  padding: 20px;
  font-weight: var(--weight-bold);
  position: sticky;
  top: 0;
  background-color: var(--color-white);
  z-index: 9;
}

.navbar__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  font-size: var(--font-regular);
  cursor: pointer;
}

.navbar__nav {
  display: flex;
  margin: 0;
}
.navbar__nav__item {
  margin-left: 20px;
  margin: 5px 20px 5px 0;
}

.navbar__nav__item a:hover {
  color: var(--color-accent);
}

.navbar .collapse {
  justify-content: flex-end;
}


/* Header */
.header {
  background-image: url(https://i.pinimg.com/564x/36/24/6b/36246b2e15a6e36d7ecea69c78b055a6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 80%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.header__title {
  color: var(--color-white);
  font-size: 40px;
  font-weight: var(--weight-bold);
  line-height: var(--font-large);
}

.header__text {
  margin: 30px 0;
}

.header__btn {
  width: 200px;
  padding: 25px 20px;
  border-radius: 50px;
  border: 0;
  color: var(--color-white);
  background-color: var(--color-accent);
  text-transform: uppercase;
  font-weight: var(--weight-bold);
  transition: opacity ease-in-out .3s;
}

.header__btn:hover {
  opacity: .8;
}


/* Need */
.need {
  height: 500px;
  background-color: var(--color-accent);
  display: flex;
  align-items: center;
}

.need__wrap > hr {
  background: var(--color-white);
}

.need__title {
  color: var(--color-white);
}

.need__text {
  margin: 25px 0;
}

.need__btn {
  width: 200px;
  padding: 25px 20px;
  border-radius: 50px;
  border: 0;
  color: var(--color-dark);
  background-color: var(--color-white);
  text-transform: uppercase;
  font-weight: var(--weight-bold);
  transition: opacity ease-in-out .3s;
}

.need__btn:hover {
  opacity: .8;
}


/* Service */
.service {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.service .container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.service__top {
  margin-bottom: 80px;
}

.service__top > hr {
  width: 5%;
  height: 3px;
  border: 0;
  background: #F4623A;
  margin: 10px auto;
}

.service__item {
  margin: 0 auto;
}

.service__item i {
  font-size: var(--font-large);
  color: var(--color-accent);
  margin: 20px 0;

}

.service__text p {
  font-size: var(--font-small);
}


/* Project */
.project__item {
  position: relative;
}

.project__bg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-accent);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity ease-in-out .3s;
}

.project__bg:hover {
  opacity: .9;
}

.project__text {
  text-transform: uppercase;
  color: var(--color-gray);
  font-weight: var(--weight-semi-bold);
}

.project__name {
  color: var(--color-white);
  font-size: var(--font-regular);
}


/* Download */
.download {
  background-color: var(--color-dark);
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.download__title {
  color: var(--color-white);
  margin-bottom: 30px;
}

.download__btn {
  width: 200px;
  padding: 25px 20px;
  border-radius: 50px;
  border: 0;
  color: var(--color-dark);
  background-color: var(--color-white);
  text-transform: uppercase;
  font-weight: var(--weight-bold);
  transition: opacity ease-in-out .3s;
}

.download__btn:hover {
  opacity: .8;
}


/* Touch */
.touch {
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.touch .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

.touch__title {
  text-align: center;
}

.touch__description {
  margin: 25px 0;
}

.touch__form {
  text-align: center;
}

.message {
  height: 200px !important;
}

.touch__btn {
  width: 100%;
  padding: 15px 20px;
  border-radius: 50px;
  margin-top: 20px;
  border: 0;
  opacity: .5;
  color: var(--color-white);
  background-color: var(--color-accent);
  text-transform: uppercase;
  font-weight: var(--weight-bold);
  transition: opacity ease-in-out .3s;
}

.touch__btn:hover {
  opacity: 1;
}

.touch__number {
  text-align: center;
  margin-top: 40px;
}

.touch__number i {
  color: var(--color-dark-gray);
}

.touch__number p {
  color: var(--color-dark);
}


/* Footer */
.footer {
  background-color: var(--color-light-gray);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  color: var(--color-dark-gray);
  font-size: var(--font-small);
  margin: 0;
}